body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:khaki;
    background-color:#000000e8;
}
a{
    text-decoration: none;
    color:khaki;
}
table{
    width: 330px;
    height: 200px;
    text-align: center;
}